html, body {
    background-repeat: no-repeat;
    background-color: #F7ECDF;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    cursor: url('/cursor.png'), auto;
}

.button{
    background-color: #EF972E;
    font-family: 'Raleway', sans-serif;
    border-radius: 5px;
    outline: none;
    color: white;
    text-align: center;
}

.button:focus-within {
    border-color: #fea94e;
    box-shadow: 0 0px 10px rgba(255, 208, 52, 0.274);
}

.button svg{
    color:lightgray;
    cursor: pointer;
    margin-right: 15px;
}

.form{
    text-align: left;
    color: #444;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
}

#link{
    width: 300px;
}

.navbar{
    background-color: #F0ECE9;
    font-family: 'Raleway', sans-serif;
}

#classtime{
    font-family: 'Yeseva One', cursive; 
    font-size: 50px; 
    text-align: center; 
    color: #EF972E;
}

#noschedule{
    font-family: 'Yeseva One',cursive;
    font-size: 20px; 
    text-align: center; 
    color: #444;
}

.table{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 18px;
    color: #444;
}

.table #header{
    font-family: 'Eczar', serif;
    text-align: center;
    font-size: 18px;
    color: #444;
}

a {
    color: #444;
}

a:link{
    color: #444;
}

a:hover{
    color: rgb(255, 174, 81);
}

a:active{
    color: rgb(238, 131, 0);
}

.navbar #ct{
    font-family: 'Eczar', serif;
}

#error{
    font-family: 'Yeseva One', cursive; 
    color: #EF972E;
    text-align: center;
    font-size: 40px;
}

.review#date{
    font-family: 'Eczar', serif;
    text-align: center;
    font-size: 10px;
    color: #444;
}

.review#title{
    font-family: 'Yeseva One', cursive; 
    text-align: center;
    font-size: 20px;
    color: #EF972E;
}

.review#date{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 10px;
    color: #444;
}

.card {
    margin: 2.5vw;
    width: 200px;
    height: fit-content;
    border-radius: 25px !important;
    background-color: #EF972E !important;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 18px;
    color: #444;
}

.card-body {
    padding: 5% !important;
    height: fit-content;
    border-radius: 25px;
    background: #EF972E;
}

img.pict {
    box-sizing: unset;
    width: 100px;
    height: auto;
    border-radius: 25px;
}

.btnClass {
    background-color: #F7ECDF;
    color: #EF972E;
}

.btnClass:hover {
    background-color: #ffd194;
    color: #EF972E;
}

h6 {
    color: #5c5c4c;
}

h6#classdetails {
    color: #3a3a34;
}