<!DOCTYPE html>
<html lang="en" xlmns:th="http://www.thymeleaf.org"></html>
<head>
    <meta charset="UTF-8">
    <title>ClassTime</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="https://fonts.googleapis.com/css?family=Yeseva+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Eczar:wght@600&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


    <!-- Navbar-->
    <!-- Image and text -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="/">
            <img th:src="@{ct.svg}" width="30" height="30" class="d-inline-block align-top" id="ct" style="font-family: 'Yeseva One', cursive">
            ClassTime
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">HOME<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        REVIEW
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" th:href="@{/review}">SEE REVIEWS</a>
                        <a class="dropdown-item" href="/review#selectclass">ADD A REVIEW</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    
</head>
<body style="background-color: #F7ECDF">
    <div th:switch="${schedules}">
        <div th:case="null">
            <div class="container mt-5 justify-content-md-center">
                    <h2 id="classtime">ClassTime!</h2>
                    <h2 id="noschedule">No schedules yet!</h2>
            </div>
                    
            <div class="container mt-5 ">
                <div class="row justify-content-md-center">
                    <a href="/addschedule"><button type="button" class="button">add a new class schedule!</button></a>
                </div>
            </div>
        </div>

        <div th:case="*">
            <div class="container mt-5 justify-content-md-center">
                <h2 style="font-family: 'Yeseva One',cursive; font-size: 50px; text-align: center; color: #EF972E;">ClassTime!</h2>
            </div>
            <div class="container mt-5">
                <div class="row justify-content-md-center">
                        <a href="/addschedule"><button type="button" class="button">add a new class schedule!</button></a>
                </div>
            </div>

            <div class="container mt-5">
                <table class="table">
                    <thead id="header">
                    <tr>
                        <th>class name</th>
                        <th>link</th>
                        <th>day</th>
                        <th>date</th>
                        <th>start time</th>
                        <th>end time</th>
                        <th>edit</th>
                        <th>delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="schedule : ${schedules}">
                        <td th:text="${schedule.name}"></td>
                        <td><a th:href="@{${schedule.link}}">class link</a></td>
                        <td th:text="${schedule.getDayOfWeek()}"></td>
                        <td th:text="${schedule.date}"></td>
                        <td th:text="${schedule.startTime}"></td>
                        <td th:text="${schedule.endTime}"></td>
                        <td><a th:href="@{/edit/{id}(id=${schedule.id})}">edit</a></td>
                        <td><a th:href="@{/delete/{id}(id=${schedule.id})}">delete</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>