<!DOCTYPE html>
<html lang="en" xlmns:th="http://www.thymeleaf.org"></html>
<head>
    <meta charset="UTF-8">
    <title>add a  review | ClassTime</title>

    <link href="https://fonts.googleapis.com/css?family=Yeseva+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Eczar:wght@600&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <!-- Navbar-->
    <!-- Image and text -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="/">
            <img th:src="@{ct.svg}" width="30" height="30" class="d-inline-block align-top" id="ct" style="font-family: 'Yeseva One', cursive">
            ClassTime
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">HOME<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        REVIEW
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" th:href="@{/review}">SEE REVIEWS</a>
                        <a class="dropdown-item" href="/review#selectclass">ADD A REVIEW</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

</head>
<body style="background-color: #F7ECDF">
    <div class="container mt-5 justify-content-md-center">
        <div class="row justify-content-md-center mt-5">
            <p style="font-family: 'Yeseva One',cursive; font-size: 20px; text-align: center; color: #444;">ClassTime!</p>
        </div>
    </div>
    <div class="container form mt-3" style="text-align: center">
        <form action="#" th:action="@{/updatereview/{id}(id=${review.id})}" th:object="${review}" method="post">
            <input type="hidden" th:name="schedules" th:value="${schedule}">
            <label for="title">title</label><br>
            <input type="text" th:field="*{title}" id="title" placeholder="your review title"><br>
            <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span><br>
            <label for="content">content</label><br>
            <textarea name="content" th:field="*{content}" id="content" maxlength = "250" placeholder="type your review" cols="50" rows="10"></textarea>
            <span th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></span><br>
            <div class="row justify-content-md-center mt-4">
                <div class="d-flex flex-row">
                    <div class="p-2"><input type="submit" class ="button" value="edit review"></div>
                    <div class="p-2" style="color: #fea94e;"><a th:href="@{/review}">go back</a></div>
                </div>
            </div>

        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>