<!DOCTYPE html>
<html lang="en" xlmns:th="http://www.thymeleaf.org"></html>
<head>
    <meta charset="UTF-8">
    <title>update a class schedule | ClassTime</title>

    <link href="https://fonts.googleapis.com/css?family=Yeseva+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Eczar:wght@600&display=swap" rel="stylesheet">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <!-- Navbar-->
    <!-- Image and text -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="/">
            <img th:src="@{ct.svg}" width="30" height="30" class="d-inline-block align-top" id="ct" style="font-family: 'Yeseva One', cursive">
            ClassTime
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">HOME<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        REVIEW
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" th:href="@{/review}">SEE REVIEWS</a>
                        <a class="dropdown-item" href="/review#selectclass">ADD A REVIEW</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    
</head>
<body style="background-color: #F7ECDF">
    <div class="container mt-5 justify-content-md-center">
        <div class="row justify-content-md-center mt-5">
            <p style="font-family: 'Yeseva One',cursive; font-size: 20px; text-align: center; color: #444;">ClassTime!</p>
        </div>
        <div class="row">
            <h2 style="font-family: 'Yeseva One',cursive; font-size: 50px; text-align: center; color: #EF972E;">edit a schedule</h2>
        </div>
    </div> 
    <div class="container form mt-3">
        <form action="#" th:action="@{/update/{id}(id=${schedule.id})}" th:object="${schedule}" method="post">
            <label for="name">class name</label>
            <input type="text" th:field="*{name}" id="name" placeholder="your class name">
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span><br>
            <label for="link">link</label>
            <input type="url" th:field="*{link}" id="link" placeholder="your googlemeet or zoom link">
            <span th:if="${#fields.hasErrors('link')}" th:errors="*{link}"></span><br>
            <label for="date">date</label>
            <input type="date" th:field="*{date}" id="date" placeholder="your class date">
            <span th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></span><br>
            <label for="startTime">start time</label>
            <input type="time" th:field="*{startTime}" id="startTime" placeholder="when does your class start?">
            <span th:if="${#fields.hasErrors('startTime')}" th:errors="*{startTime}"></span><br>
            <label for="endTime">end time</label>
            <input type="time" th:field="*{endTime}" id="endTime" placeholder="when does your class end?">
            <span th:if="${#fields.hasErrors('endTime')}" th:errors="*{endTime}"></span><br>
            <div class="row mt-4">
                <div class="d-flex flex-row">
                    <div class="p-2"><input type="submit" class="button" value="edit schedule"></div>
                    <div class="p-2" style="color: #fea94e;"><a th:href="@{/}">go back</a></div>
                </div>
            </div>
        </form>
    </div>

</body>
</html>